{% extends 'index.html' %}
{% block title %} Home {% endblock %}

{% block content %}
<h1>Fundacion somos barro</h1>
<p>lorem ipsum Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla faucibus faucibus lacus in sollicitudin.
    Maecenas eu nibh urna. Donec quis lorem eros. Proin nec tincidunt justo. Donec eget ultricies tortor, sit amet
    scelerisque purus. Praesent ut dignissim nibh. In vel dolor nec lorem pretium tempus.

    In mattis at ante vitae fermentum. Mauris malesuada ante eu rutrum aliquet. Praesent pharetra turpis diam, eget
    dapibus arcu facilisis id. Aenean id semper ligula. Nulla facilisi. Sed vehicula augue dui. Vestibulum imperdiet
    odio nec elit varius semper vitae in est. Nam iaculis libero nec enim fermentum, at scelerisque leo scelerisque. Ut
    sed nisi quis libero auctor volutpat. Donec nisl quam, dictum elementum rhoncus dignissim, placerat non augue. </p>


{% endblock %}